extends layout

block content
  form(action='/user/login' method='post')
    input(name='username' placeholder='username')
    input(name='password' placeholder='password')
    button(type='submit')= '提交'
